<div class="navbar-nav align-items-center ms-auto">
  <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
      <i class="fa fa-envelope me-lg-2"></i>
      <span class="d-none d-lg-inline-flex">Message</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
      <a href="#" class="dropdown-item">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="{{currentUser.profile}}" alt="" style="width: 40px; height: 40px;">
          <div class="ms-2">
            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
            <small>15 minutes ago</small>
          </div>
        </div>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="../../assets/logo8.png" alt="" style="width: 40px; height: 40px;">
          <div class="ms-2">
            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
            <small>15 minutes ago</small>
          </div>
        </div>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="../../assets/logo8.png" alt="" style="width: 40px; height: 40px;">
          <div class="ms-2">
            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
            <small>15 minutes ago</small>
          </div>
        </div>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item text-center">See all message</a>
    </div>
  </div>
  <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
      <i class="fa fa-bell me-lg-2"></i>
      <span class="d-none d-lg-inline-flex">Notificatin</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
      <a href="#" class="dropdown-item">
        <h6 class="fw-normal mb-0">Profile updated</h6>
        <small>15 minutes ago</small>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <h6 class="fw-normal mb-0">New user added</h6>
        <small>15 minutes ago</small>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <h6 class="fw-normal mb-0">Password changed</h6>
        <small>15 minutes ago</small>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item text-center">See all notifications</a>
    </div>
  </div>
  <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
      <img class="rounded-circle me-lg-2" src="{{currentUser.profile}}" alt="" style="width: 40px; height: 40px;">
      <span class="d-none d-lg-inline-flex">{{currentUser.nom}}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
      <a href="#" class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop2">My Profile</a>
      <a href="#" class="dropdown-item">Settings</a>
      <a (click)="logout()" class="dropdown-item">Déconnexion</a>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop2" tabindex="100" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-100">
        <div class="modal-header">

          <button type="button"></button>
        </div>
        <div class="form-box">
          <div class="form">
            <div>
              <h1 style="margin-left: 100%; margin-top: -8%; font-size: 1.8em; color: white; cursor: pointer;"
                data-mdb-dismiss="modal" aria-label="Close">x</h1>
            </div>
            <input id="slider" class="customSlider" type="checkbox">
            <label for="slider"></label>

            <div class="wrapper">
              <div class="top-icons">
                <i class="fas fa-long-arrow-alt-left"></i>
                <i class="fas fa-ellipsis-v"></i>
                <i class="far fa-heart"></i>
              </div>

              <div class="profile">
                <img
                  src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w"
                  class="thumbnail">
                <div class="check"><i class="fas fa-check"></i></div>
                <h3 class="name">Beverly Little</h3>
                <p class="title">Javascript Developer</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam aliquid
                  porro!</p>
                <button type="button" class="btn">Hire Me</button>
              </div>

              <div class="social-icons">
                <div class="icon">
                  <a href="/"><i class="fab fa-dribbble"></i></a>
                  <h4>12.8k</h4>
                  <p>Followers</p>
                </div>

                <div class="icon">
                  <a href="#"><i class="fab fa-behance"></i></a>
                  <h4>12.8k</h4>
                  <p>Followers</p>
                </div>

                <div class="icon">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <h4>12.8k</h4>
                  <p>Followers</p>
                </div>
              </div>
            </div>
            <style>
              

      

              .customSlider {
                opacity: 0;
                display: none;
              }

              .customSlider+label {
                position: relative;
                top: 35px;
                left: 280px;
                cursor: pointer;
              }

              .customSlider+label:before,
              .customSlider+label:after {
                background: #fff;
                position: absolute;
                content: '';
              }

              .customSlider+label:before {
                top: -90px;
                left: -60px;
                width: 80px;
                height: 40px;
                background: #ccc;
                border-radius: 20px;
                transition: background 0.75s;
              }

              .customSlider+label:after {
                height: 34px;
                width: 34px;
                top: -87px;
                left: -55px;
                border-radius: 50%;
                transition: all 0.5s;
              }

              .customSlider:checked+label:after {
                height: 34px;
                width: 34px;
                top: -87px;
                left: -19px;
                border-radius: 50%;
              }

              .customSlider:checked~.wrapper {
                color: #fff;
                transition: background 0.6s ease;
                background: #31394d;
              }

              .customSlider:checked~.wrapper .top-icons i {
                color: #fff;
              }

              .customSlider:checked~.wrapper .profile .name {
                color: #fdfeff;
              }

              .customSlider:checked~.wrapper .profile .title {
                color: #7c8097;
              }

              .customSlider:checked~.wrapper .profile .description {
                color: #fdfeff;
              }

              .customSlider:checked~.wrapper .icon h4 {
                color: #fff;
              }

              .customSlider:checked~.wrapper .icon p {
                color: #666b7d;
              }

              .wrapper {
                width: 485px;
                height: 580px;
                background: #fdfeff;
                transition: background 0.6s ease;
                border-radius: 10px;
                padding: 20px 20px 20px 20px;
                box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
                margin: 2%;
                margin-bottom: 5vh;
              }

              .wrapper .top-icons i {
                color: #080911;
              }

              .wrapper .top-icons i:nth-of-type(1) {
                float: left;
              }

              .wrapper .top-icons i:nth-of-type(2) {
                float: right;
              }

              .wrapper .top-icons i:nth-of-type(3) {
                float: right;
                padding-right: 0.8em;
              }

              .wrapper .profile {
                margin-top: 2.2em;
                position: relative;
              }

              .wrapper .profile:after {
                width: 100%;
                height: 1px;
                content: ' ';
                display: block;
                margin-top: 1.3em;
                background: #e9eff6;
              }

              .wrapper .profile .check {
                position: absolute;
                right: 5em;
                bottom: 12.7em;
              }

              .wrapper .profile .check i {
                color: #fff;
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                border-radius: 100%;
                background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
              }

              .wrapper .profile .thumbnail {
                width: 124px;
                height: 124px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.5em;
                border-radius: 100%;
                box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
              }

              .wrapper .profile .name {
                color: #2d354a;
                font-size: 24px;
                font-weight: 600;
                text-align: center;
              }

              .wrapper .profile .title {
                color: #7c8097;
                font-size: 0.75em;
                font-weight: 300;
                text-align: center;
                padding-top: 0.5em;
                padding-bottom: 0.7em;
                letter-spacing: 1.5px;
                text-transform: uppercase;
              }

              .wrapper .profile .description {
                color: #080911;
                font-size: 14px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 1.3em;
              }

              .wrapper .profile .btn {
                color: #fff;
                width: 130px;
                height: 42px;
                outline: none;
                border: none;
                display: block;
                cursor: pointer;
                font-weight: 300;
                margin-left: auto;
                margin-right: auto;
                border-radius: 70px;
                box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
                background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
              }

              .wrapper .social-icons {
                display: flex;
                margin-top: 1.2em;
                justify-content: space-between;
              }

              .wrapper .social-icons .icon {
                display: flex;
                align-items: center;
                flex-direction: column;
              }

              .wrapper .social-icons .icon a {
                color: #fff;
                width: 60px;
                height: 60px;
                font-size: 28px;
                line-height: 60px;
                text-align: center;
                border-radius: 30px;
                box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
              }

              .wrapper .social-icons .icon:nth-of-type(1) a {
                background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
              }

              .wrapper .social-icons .icon:nth-of-type(2) a {
                background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
              }

              .wrapper .social-icons .icon:nth-of-type(3) a {
                background: linear-gradient(to bottom right, #6452e9, #639ff9);
              }

              .wrapper .social-icons .icon h4 {
                color: #080911;
                font-size: 1em;
                margin-top: 1.3em;
                margin-bottom: 0.2em;
              }

              .wrapper .social-icons .icon p {
                color: #666b7d;
                font-size: 12px;
              }

              .concept {
                position: absolute;
                bottom: 25px;
                color: #aab0c4;
                font-size: 0.9em;
                font-weight: 400;
              }

              .concept a {
                color: rgba(172, 25, 102, 1);
                text-decoration: none;
              }
            </style>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>