<div class="navbar-nav align-items-center ms-auto">
  <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
      <i class="fa fa-envelope me-lg-2"></i>
      <span class="d-none d-lg-inline-flex">Message</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
      <a href="#" class="dropdown-item">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="{{currentUser.profile}}" alt="" style="width: 40px; height: 40px;">
          <div class="ms-2">
            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
            <small>15 minutes ago</small>
          </div>
        </div>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="../../assets/logo8.png" alt="" style="width: 40px; height: 40px;">
          <div class="ms-2">
            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
            <small>15 minutes ago</small>
          </div>
        </div>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="../../assets/logo8.png" alt="" style="width: 40px; height: 40px;">
          <div class="ms-2">
            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
            <small>15 minutes ago</small>
          </div>
        </div>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item text-center">See all message</a>
    </div>
  </div>
  <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
      <i class="fa fa-bell me-lg-2"></i>
      <span class="d-none d-lg-inline-flex">Notificatin</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
      <a href="#" class="dropdown-item">
        <h6 class="fw-normal mb-0">Profile updated</h6>
        <small>15 minutes ago</small>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <h6 class="fw-normal mb-0">New user added</h6>
        <small>15 minutes ago</small>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <h6 class="fw-normal mb-0">Password changed</h6>
        <small>15 minutes ago</small>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item text-center">See all notifications</a>
    </div>
  </div>
  <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
      <img class="rounded-circle me-lg-2" src="{{currentUser.profile}}" alt="" style="width: 40px; height: 40px;">
      <span class="d-none d-lg-inline-flex">{{currentUser.nom}}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
      <a href="#" class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop2">Mon profile</a>
      <a (click)="logout()" class="dropdown-item">Déconnexion</a>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop2" tabindex="100" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-100">
        <div class="modal-header">
          <button type="button"></button>
        </div>
        <div class="form-box">
          <div class="form">
            <div>
              <h1 style="margin-left: 100%; margin-top: -8%; font-size: 1.8em; color: white; cursor: pointer;"
                data-mdb-dismiss="modal" aria-label="Close">x</h1>
            </div>
            <input id="slider" class="customSlider" type="checkbox">
            <label for="slider"></label>

            <div class="wrapper">
              <div class="profile" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(\'' +currentUser.profile + '\')',
              'background-repeat': 'no-repeat',
              'background-size': 'cover','object-fit': 'fill','border-radius':' 30px' }">
                <img src="{{currentUser.profile}}" class="thumbnail">
                <div class="check"><i class="fas fa-check"></i></div>
                <h3 class="name">{{currentUser.username}}</h3>
                <p class="title" style="font-size: 1.2em;">{{currentUser.nom}} {{currentUser.prenom}}</p>
                <p class="title" style="font-size: 1.2em;">{{currentUser.email}}</p>

                <button type="button" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop166"
                  class="btn">Modifier</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop166" tabindex="100" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-100">
        <div class="form-box1">
          <div class="form1">
            <div>
              <h1 style="margin-left: 100%; margin-top: -8%; font-size: 1.8em; color: white; cursor: pointer;"
                data-mdb-dismiss="modal" aria-label="Close">x</h1>
            </div>
            <h2>Modifier ton profile</h2>
            <form *ngIf="!InscriptionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="" style="display: flex;">
                <div class="input-box">
                  <input type="text" [(ngModel)]="currentUser.nom" name="nom">
                  <span>Nom</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
                <div class="input-box">
                  <input type="text" [(ngModel)]="currentUser.prenom" name="prenom">
                  <span>Prenom</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
              </div>
              <div class="" style="display: flex;">
                <div class="input-box">
                  <input type="text" [(ngModel)]="currentUser.username" name="username">
                  <span>Pseudo</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
                <div class="input-box">
                  <input type="email" [(ngModel)]="currentUser.email" name="email">
                  <span>Email</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
              </div>
              <div class="" style="display: flex;">
                <div class="input-box">
                  <input type="file" accept="image/*" [(ngModel)]="currentUser.profile" name="profile"  (change)="onFileChangePhoto($event)">
                  <span>Photo</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
                <div class="input-box">
                  <input type="text" [(ngModel)]="currentUser.numero" name="tel">
                  <span>Numéro</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
                <!-- <div class="input-box">
                  <input type="text" name="prenom" name="prenom" [(ngModel)]="form.prenom" required maxlength="20"
                    #prenom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prenom.errors }">
                  <div class="invalid-feedback" *ngIf="prenom.errors && f.submitted">
                    <div *ngIf="prenom.errors['required']">Le nom est obligatoire!</div>
                    <div *ngIf="prenom.errors['maxlength']">
                      Le prenom ne dooit pas depasser 20 caracters !!!
                    </div>
                  </div>
                  <span>Prenom</span>
                  <i></i>
                </div>
              </div>
              <div class="" style="display: flex;">
                <div class="input-box">
                  <input type="text" name="username" name="username" [(ngModel)]="form.username" required maxlength="20"
                    #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
                  <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors['required']">Le nom est obligatoire!</div>
                    <div *ngIf="username.errors['maxlength']">
                      Le nom d'utilisateur ne doit pas depasser 20 caracters
                    </div>
                  </div>
                  <span>Pseudo</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
                <div class="input-box">
                  <input type="password" value="1234567" class="input" id="password" class="form-control"
                    name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                  <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                    <div color="red" *ngIf="password.errors['required']" style="color: red;">Le mot de passe est
                      obligatoir</div>
                    <div *ngIf="password.errors['minlength']" style="color: red;">
                      le mot de passe doit contenir au mois 6 caracters
                    </div>
                  </div>
                  <span>Email</span>
                  <i></i>
                </div>
              </div>
              <div class="" style="display: flex; margin-bottom: 10%;">
                <div class="input-box" style="width: 100%;">
                  <div *ngIf="email.errors && f.submitted" class="invalid-feedback" style="color: red;">
                    L'adresse email est obligatoire!
                  </div>
                  <input type="email" name="email" [(ngModel)]="form.email" required #email="ngModel"
                    [ngClass]="{'is-invalid':f.submitted && email.errors}">
                  <span>Email</span>
                  <i></i>
                </div>
              </div> -->
              </div>
              <div class="" style="display: flex;">
                <div class="input-box">
                  <input type="text" [(ngModel)]="currentUser.mois" name="mois">
                  <span>Pseudo</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
                <div class="input-box">
                  <input type="email" [(ngModel)]="currentUser.password" name="password">
                  <span>Email</span>
                  <i></i>
                </div>&nbsp;&nbsp;&nbsp;
              </div>
              <input type="submit" style="margin-top: 10%; width: 100%;" value="Modifier" class="btn">
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
