<nav class="">
  <header>
    <div class="image-text">
      <span class="image">
      </span>
      <div class="text logo-text ">
        <img class="rounded-circle me-lg-2 logo1" src="../../assets/logo8.png" alt=""
          style="width: 100px; height: 100px; margin-left: -40%;">
      </div>
    </div>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/dashboard">
          <i class='bx bxs-home icon'></i>
          <span class="text nav-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/challenge">
          <i class='bx bxs-trophy icon'></i>
          <span class="text nav-text">Challenge</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/utilisateur">
          <i class='bx bxs-user-circle icon'></i>
          <span class="text nav-text">Utilisateur</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/forum">
          <i class='bx bxs-conversation icon'></i>
          <span class="text nav-text">Forum</span>
        </a>
      </li>
    </div>
    <div class="bottom-content">
      <li class="li">
        <a href="#">
          <i class='bx bx-power-off icon' style="color:white"></i>
          <span class="text nav-text">Déconnexion</span>
        </a>
      </li>
    </div>
  </div>

</nav>
<!-- </div> -->