<div class="container-fluid" style="overflow: hidden;">
  <div class="row flex-nowrap">
    <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show" *ngIf="menuBureau"
      style="height: 100vh;">
      <app-menu></app-menu>
      <!-- </div> -->
    </div>
    <main class="col " style=" height: 100vh ; overflow: scroll; overflow-x: hidden;">
      <nav class=" bg-danger  navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
        <h1 style="width: 20px;"></h1>
        <a href="#" class="sidebar-toggler flex-shrink-0" data-bs-toggle="collapse" data-bs-target="#sidebar"
          aria-expanded="false" (click)="afficheMenuMobile()" aria-controls="collapseWidthExample">
          <i class="fa fa-bars"></i>
        </a>
        <div class="d-none d-md-flex ms-4">
          <input type="text" [(ngModel)]="term"
            class="form-control border-0 border-2 border-start border-end border-alert" type="search"
            placeholder="rechercher">
        </div>
        <div class="d-flex justify-content-end  w-100">
          <app-navbar></app-navbar>
        </div>
      </nav>

      <div class="container-fluid pt-4 px-4">

        <div class="row g-4 py-3">
          <div class="col-sm-12  col-xl-12">
            <div class="bg-light text-center rounded">
              <div class="h-100 bg-light justify-content-end rounded p-5">
                <div class="d-flex align-items-center  mb-2" style="text-align: center;">
                  <h4 class="mb-0" style="margin-left: auto; margin-right: auto;"> Les solutions du challenge
                  </h4>

                </div>
                <div
                  *ngFor=" let solution of solutionAffichage|filter:term | paginate: { itemsPerPage: 10, currentPage: p }, let i = index"
                  class="d-flex align-items-center border-bottom py-2">
                  <div class="rounded-circle flex-shrink-0"
                    style="width: 40px; height: 40px; border: 1px solid #5260FF;">
                    <span style="margin-top: 1vh !important; position: absolute;">{{i+1}}</span>
                  </div>
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-0">Equipe:&nbsp;&nbsp;&nbsp;&nbsp; {{solution.team.nom}}</h6>
                      <h6 class="mb-0">Challenge:&nbsp;&nbsp;&nbsp;&nbsp; {{solution.challenge.titre}}</h6>
                      <h6 class="mb-0"> Fichier source:&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{solution.source}}"
                          download=""><i class="bi bi-download" style="font-size: 1.5em;"></i></a></h6>
                      <h6 class="mb-0" *ngIf="solution.etat=='1'">Etat:&nbsp;&nbsp;&nbsp;&nbsp; corrigé</h6>
                      <h6 class="mb-0" *ngIf="solution.etat==!'1'">Etat:&nbsp;&nbsp;&nbsp;&nbsp; non corrigé</h6>
                      <h6 class="mb-0">Correction: &nbsp;&nbsp; &nbsp;&nbsp;<button
                          [routerLink]="['/challenge',solution.id]" data-mdb-toggle="modal"
                          data-mdb-target="#critere">Plus...</button></h6>
                    </div>
                  </div>
                </div>
                <pagination-controls style="font-size: .9em;" (pageChange)="p =$event" nextLabel="Suivant"
                  previousLabel="Précedent"></pagination-controls>
              </div>
            </div>
          </div>

        </div>
      </div>
      <app-footer></app-footer>
    </main>

  </div>
</div>